.info-container {
  font-family: 'Inria Sans', sans-serif;
  
  display: flex;
  flex-direction: column;
  }

  .info-container::-webkit-scrollbar {
    width: 10px;
    flex-direction: column;
  }
  
  .info-container::-webkit-scrollbar-track {
    border-left: 2px solid black    
  }
  
  .info-container::-webkit-scrollbar-thumb {
    background: #FFD78A;
    border: 2px solid black;
    border-right: none;
  }

  @media(min-width: 600px){
    .info-container {
      height: 100vh;
      overflow-y: scroll;
    }    
  }
  
  .info-title {  
    background: #FFD78A;
    border: 2px solid black;
    border-right: none;
    border-left: none;
    font-size: 1.5em;    
    padding-left: 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    text-transform: uppercase;
  }

  .info-item {
    margin-bottom: 5px;
    padding: 0 1%;
  }
  
  .info-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .info-institution {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 0.2%;
    margin-top: 1%;
  }
  
  .info-years {
    margin-top: 1%;
    font-weight: 600;
  }

  .info-course{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0.6%;
  }
  
  .info-description{
    font-weight: 200;
    margin-bottom: 5px;
    font-size: 1em;
    min-width: 25vh;
    max-width: 40%;
    margin-bottom: 1%;
  }
  
  .info-keywords {
    display: flex;
    margin-bottom: 20px;
  }
  
  .info-keyword {
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 3px 7px;   

    font-weight: 500;
  }
  